<!DOCTYPE html>
<html lang="nl">
<%- include ('head.ejs') %>
<title>
  <%= data.naam %> - Bamboos Profiel</title>

<body>
  <%- include ('header.ejs') %>
  <a href="/matches">Back to matches</a>

  <h1>
    <%= data.naam %>
  </h1>
  <% if (data.foto) { %>
  <img alt src="/upload/<%= data.foto %>">
  <% } %>
  <p>
    <%= data.leeftijd %>
  </p>
  <p>
    <%= data.bio %>
  </p>
  <a href="mailto:<%= data.userLogin.email%>">Message</a>

  <h1></h1>
  <button id=js-remove data-id="<%= data._id %>">Unmatch</button>
  <script src=/index.js> </script> </body> </html>