<!DOCTYPE html>
<html lang="nl">
<%- include ('head.ejs') %>
<title>
  <%= data.naam %> - Bamboos Profiel</title>

<body>
  <%- include ('header.ejs') %>
  <h1>
    <%= data.naam %>
  </h1>
  <% if (data.foto) { %>
<img
  alt
  src="/upload/<%= data.foto %>"
>
<% } %>
  <p>
    <%= data.leeftijd %>
  </p>
  <p>
    <%= data.bio %>
  </p>
  <button
      id=js-remove
      data-id="<%= data._id %>"
    >Unmatch</button>
  <p><a href="/start">Back to matches</a></p>
  <script src=/index.js></script>
</body>

</html>