<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

<body>

    <%- include('header.ejs') %>

    <main class="list">

        <h1>Matches</h1>

        <ul></ul>
        <ul></ul>

        <h2> Welkom, <%= data.user.user %>.</h2>
        <p>Je hebt geantwoord met:</p>
        <ul class="answerList">
            <li><img src=<%= data.user.answerOneImg %> alt="antwoord op vraag 1"> </li>
            <li><img src=<%= data.user.answerTwoImg %> alt="antwoord op vraag 2"></li>
            <li><img src=<%= data.user.answerThreeImg %> alt="antwoord op vraag 3"></li>

        </ul>

        <section>
            <h3>Je bent gematcht met:</h3>
            <ul>
            <% for (var index = 0; index < data.matches.length; index++) { %>
            <li>
                <%= data.matches[index].user %>
            </li>

            <% } %>
        </ul>
        </section>

        <a class="linkButton" href="/finding">Try again</a>

        <form action="/changeName" method="POST" class="formulier">
        <input type="text" name="newName">
        <button type="submit" class="linkButton">Verander naam</button>
        </form>
    </main>


    <%- include('footer.ejs') %>

</body>

</html>