<!DOCTYPE html>
<html lang="nl">
<%- include ('head.ejs') %>
<title>Matches - Bamboos</title>

<body>
  <%- include ('header.ejs') %>
  <a href="/logout" class="logout">Logout</a>

  <h1>Matches</h1>
  <% for (var index = 0; index < data.matches.length; index++) { %>
  <article class="profile">
    <h2><a href="/<%= data.matches[index]._id %>"><%= data.matches[index].naam %></a></h2>
    <p><%= data.matches[index].leeftijd %></p>
  </article>
  <% } %>
</body>

</html>